.top-page
  = video_tag("/videos/video.mp4", autoplay: true, loop: true, muted: true, class: 'content__box__video')

  .start-btn
    .top-blog-btn
      = link_to "blogs", blogs_path
    .top-btn
      = link_to "posts", new_post_path
    .center-btn
      = link_to "WelCom", user_path(current_user.id)
  

  
  
