.blog-list{
  background-image: url(photo-1573390609456-919e3ed0da7e.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  .cntent{
    background-color: red;
  }
}